<style>
      body {
    font-family: Avenir, sans-serif;
    font-size: 12pt;
    background-image: linear-gradient(to bottom right, #E0EAFC, #CFDEF3);
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  a{
    text-decoration: none;
    color: black;
  }
      #container{
      height:600px; 
      width:940px; 
      overflow: scroll; 
      background-color:rgba(255,255,255,1); 
      margin-left:300px; 
      padding-left:30px;
      position: relative;
      top: 90px;
      padding-right:60px;
      padding-top:20px;

  }
  label{
      color:gray;
      font-size:14px;

  }
  
  textarea,input {
    border: none;
    overflow: auto;
    outline: none;
    background-color: transparent;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
input{
    width:800px;
}
#send{
    width: 80px;
    height: 30px;
}
hr{
        border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
button {
    display: inline-block;
    border: none;
    margin: 0;
    text-decoration: none;
    padding:5px 0px 5px 0px;
    background: #0069ed;
    color: #ffffff;
    font-size: 12px;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out, 
                transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 5px;
}

button:hover,
button:focus {
    background: #0053ba;
}

}
</style>
<form onsubmit={{action 'createEmail'}}>
<div id='container'>
    <label for='to'>To</label>&nbsp;
    {{input type='text' id='to' value=to}}<br>
    <label for='from'>From</label>
    {{input type='text' id='from' value=from}}<br>
    <hr>
    <label for='subject'>Subject</label>&nbsp;
    {{input type='text' id='subject' value=subject}}<br>
    <hr>
    {{textarea  rows='32'cols='153' value=message}}<br>
    <button id='send' type='submit'>Send</button>
    </div>
</form>
{{outlet}}