<style>
  body {
    font-family: Avenir, sans-serif;
    font-size: 12pt;
    background-image: linear-gradient(to bottom right, #E0EAFC, #CFDEF3);
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  a{
    text-decoration: none;
    color: black;
  }
    #container{
      height:600px; 
      width:940px; 
      overflow: scroll; 
      background-color:rgba(255,255,255,.6); 
      margin-left:300px; 
      padding-left:30px;
      position: relative;
      top: 90px;
      padding-right:60px;

  }
  #options{
    width:1020px; 
    height: 50px;
    background-color:rgba(255,255,255,.6); 
    margin-left:300px; 
      padding-left:10px;
      position: relative;
      top: 80px;
  }
  #options img{
    margin: 14px 10px -2px 10px;
  }
  h1{
      margin-bottom: 0px;
  }
  #arrow{

  }
  .sender {
    font-size: 14px;
  }
  .recipient {
    font-size: 10px;
  }
</style>
<div id="options">
  {{#link-to "index"}}
    <img
      id="arrow"
      src="https://image.flaticon.com/icons/svg/109/109618.svg"
      width="25px"
      alt="Back"
    >
  {{/link-to}}
  <button 
    onclick={{action "deleteEmail" model}} 
    class="invisible" 
    data-test="delete-email" 
  >
    <img
      id="trash"
      src="https://image.flaticon.com/icons/svg/126/126468.svg"
      width="25px"
      alt="Trash"
    >
  </button>
</div>
<div id="container">
  <h1 data-test="subject">{{model.subject }}</h1>
  <strong data-test="from">{{model.from}}</strong> <span class="sender">&nbsp; &nbsp;<span data-test="emailurl">{{model.emailurl}}</span></span> <br>
  <span class="recipient">to <span data-test="to">{{model.to}}</span></span><br><br>
  <span data-test="message">{{model.message}}</span>
</div>
{{outlet}}